<body>
  
    <div>
        <img id="imagenFondo" src="img\campover.webp" alt="">

        <div id="fondoNegro"></div>
        
        <div id="intro">
            
            <p id="titulo_intro">Los comerciales</p>
            <div id="logo-utags"><img src="img\logouta.jpg" width="60px" height="60px"></div>
           <div  class="row">
            
                <div class="col-6" >
                    
                    <ul id="menu1">
                        
                        <a id="largo" href="http://localhost:3000/CCC"><li class="li_estilo" >Registrar Usuario</li></a>
                       
                        
                       
                    </ul>
                </div>
                <div class="col-6">
                    <ul id="menu2">
                        <a id="largo" href="http://localhost:3000/CPA"><li class="li_estilo" >Consultar Inventario</li></a>
                        <a id="largo" href="http://localhost:3000/CVE"><li class="li_estilo">Consultar precios</li></a>
                        
                        
                    </ul>
                </div>
           </div>
        </div>
    </body>
  
    
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="js/main.js"></script>
    </body>
    
   